@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200&display=swap');
/* Aqui van a ir los valores predeyerminados de CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  cursor: default;
  scroll-behavior:smooth;
}
body{
  background-color: var(--rtc--tertiary-color);
}

:root{
  --rtc--primary-color: black;
  --rtc--secondary-color: lightgray;
  --rtc--tertiary-color: whitesmoke;
  --rtc--quaternary-color: rgba(228, 218, 205, 0.765);
}

header{
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: space-between;

}

header img{
  justify-content: space-between;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

header nav{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBar{
  width: 100%;
  display: flex;
  margin-left: 25px;
  gap:15px;
  list-style: none;
}

.NavBar a{
  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 10px 15px;
  cursor: pointer;
}

.Menu{
  display: none;;
}

/* Ajustes Responsives para el Header */
@media (max-width:655px) {
  header nav{
    display: none;
  } 
  .Account{
   margin-left: auto;
  }
  .Menu{
    display: flex;
    font-size: 30px;
    cursor: pointer;
  }
}

/*Estilos para la parte principal de la pagina.
 Intente hacerlo a un estilo "Hero" para tener mas visibilidad
 hacia un producto en especifico*/

.MainContent {
  background-image: url(./assets/MercedesCLE.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.MainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding-left: 10px;
}

main h1{
  font-size: 30px;
  color: var(--rtc--primary-color);
}

main p{
  font-size: 14px;
  font-weight: bold;
  color: var(--rtc--primary-color);
}

main .Button{
  width: 130px;
  text-decoration: none;
  display: flex;
  padding: 10px 16px;
  font-size: 12px;
  background-color: var(--rtc--primary-color);
  color: var(--rtc--tertiary-color);
  border-radius: 10px;
  border: 3px solid var(--rtc--tertiary-color);
  cursor: pointer;
  transition: transform 0.5s;
}

/*Elemento hover para cuando pasamos
 por encima del button que lleva al producto real*/

main .Button:hover{
  background-color: var(--rtc--tertiary-color);
  color: var(--rtc--primary-color);
  border: 3px solid var(--rtc--primary-color);
  transform: scale(1.1);
}

/*Ajuste responsives para la parte principal del contenido*/

@media (max-width:870px){
  .MainContent{
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
  }
}

/* Estilos para las tarjetas de informacion*/


.InfoCards{
  padding: 40px;
  display: flex;
  gap: 20px;
}



.card-container{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-content: center;
}
 
.card-container{
  width: 250px;
  margin: 50px auto;
  padding: 10px 0px;
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0 4px 20px -15px black;
  transition: transform 0.5s;
  background-color: var(--rtc--quaternary-color);
}

.card-container:hover{
  transform: scale(1.1);
}

article img{
  width: 250px;
  height: 150px;
  object-fit: contain;
  border-radius: 12px;
}

.text-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.text-card p{
  font-size: 20px;
  font-weight: bold;
  color: var(--rtc--primary-color);
}



.text-card a{
  display: flex;
  text-decoration: none;
  background-color: var(--rtc--primary-color);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--rtc--tertiary-color);
  border: 2px solid var(--rtc--tertiary-color);
  font-size: 12px;
  transition: transform 0.5s;
}

/*Elemento hover para cuando pasamos
 por encima del button de "Más información"*/

 
.text-card a:hover{
  transform: scale(1.1);
  background-color: var(--rtc--tertiary-color);
  color: var(--rtc--primary-color);
  border: 2px solid var(--rtc--primary-color);
} 

/*Ajustes responsives para las tarjetas de informacion*/

@media (max-width:850px){
  .InfoCards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x:scroll;
    padding: 20px;
    gap: 15px;
  }
}

/*Estilos para articulo promocionandose dentro de la Pagina*/
.Maybach{
  padding: 25px;
  gap: 20px;
  margin: 20px;
  display: flex;
}

.text-Maybach {
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.Maybach img{
  width: 100%;
  object-fit: contain;
  height: 400px;
}

.text-Maybach h4{
  font-size: 35px;
  padding-bottom: 20px;
}

.text-Maybach span:hover{
color: crimson;
}

.text-Maybach p{
  font-size: 18px;
  font-weight: lighter;
  padding-bottom: 15px;
}

.text-Maybach a{
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

/*Estilos responsives para el Articulo*/
@media (max-width:750px){
  .Maybach{
    display: flex;
    flex-wrap: wrap;
  }
}

/*Estilos para el comienzo del footer*/

.Contact{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(22, 18, 18, 0.708);
  color: var(--rtc--tertiary-color);
  padding: 30px;
  padding-right: 25px;
  margin: 0px;
  gap: 30px;
  flex-shrink: 2;
}

.Contact p{
  font-size: 14px;
  font-weight:700;
}

.Contact a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--rtc--tertiary-color);
  color: var(--rtc--primary-color);
  border: 2px solid var(--rtc--primary-color);
  font-weight:500;
  cursor: pointer;
  transition: transform 0.8s;
}

.Contact a:hover{
  transform: scale(1.05);
  background-color: var(--rtc--tertiary-color);
  color: var(--rtc--primary-color);
  border: 2px solid var(--rtc--primary-color);
} 

/* Estilos responsives para el contacto*/
@media (max-width: 700px){
  .Contact{
    display: flex;
    flex-wrap: wrap;
  }
}

/* Estilos para el formulario de suscripción*/

.Form-suscribe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 30px;
  margin: 0px;
  background-color: var(--rtc--primary-color);
  color: var(--rtc--tertiary-color);
  gap: 20px;
}

.Form-suscribe h4{
  font-size: 22px;
}

.Parrafo1{
  font-size: 16px;
}

.Email-form{
  position: relative;
  display: inline-block;
}

.Email-form input{
  padding-right: 60px;
  width: 380px;
  height: 60px;
  background-color: black;
  border-radius: 35px;
  border: 2px solid var(--rtc--tertiary-color);
  padding-left: 25px;
  cursor: text;
  color: var(--rtc--tertiary-color);
  font-size: 16px;
  font-weight: bold;
}

.Email-form input::placeholder{
  color: white;
  font-size: 16px;
  font-weight: bold;

}

.Email-form button{
  position: absolute;
  width: 140px;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  height: 100%;
  background-color: var(--rtc--tertiary-color);
  color: var(--rtc--primary-color);
  border-radius: 30px;
  border: 2px solid var(--rtc--tertiary-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.InputCHECKBOX {
  display: flex;
  gap: 10px;
  align-items: center;
}

.InputCHECKBOX .Privacidad {
  text-decoration: underline white;
  color: white;
  cursor: pointer;
}

.InputCHECKBOX .Politica{
  appearance: none; 
  width: 30px;
  height: 30px;
  background-color: #0c0c0c;
  cursor: pointer;
  border: 1px solid var(--rtc--tertiary-color);
  border-radius: 5px;
  background-repeat: no-repeat;
}

.InputCHECKBOX .Politica:checked{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e"); 
}

/* Estilos responsives para el input checkbox*/

@media(max-width:450px){
  .InputCHECKBOX .Politica{
    width: 25px;
    height: 20px;
    border-radius: 3px;
  }
}

@media(max-width:380px){
  .InputCHECKBOX .Politica{
    width: 25px;
    height: 15px;
    border-radius: 3px;
  }
}

.Redes_Sociales {
  display: flex;
  width: 200px;
  padding: 20px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.Redes_Sociales li{
  object-fit: contain;
  object-position: center;
  transition: transform 0.8s;
}

.Redes_Sociales li:first-child {
  padding-top: 13px;
}

.Redes_Sociales li:hover{
 transform: scale(1.5);
}

.List-footer{
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  justify-items: center;
  background-color: black;
  padding: 20px;
  color: var(--rtc--tertiary-color);
  list-style: none;
  gap: 30px;
}

.List-footer h4{
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px;
}

.List-links li{
  list-style: none;
}

.List-links a{
  text-decoration: none;
  color: var(--rtc--secondary-color);
  font-size: 16px;
}

@media(max-width:450px){
.List-footer{
  display: flex;
  flex-wrap: wrap;
}
}

.ScrollTop{
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding: 20px;
}

.ScrollTop img{
  width: 40px;
  object-fit: contain;
  cursor: pointer;
  transition: transform .3s ease;
}

.ScrollTop img:hover{
  transform: translateY(-3px);
}
